In [1]:
import findspark
findspark.init()

#from the spark dir run this command to create a cluster  ./sbin/start-master.sh
#Get master location from port 8080 

import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("spark://de-zoomcamp-bb.us-east4-c.c.astral-volt-411512.internal:7077") \
    .appName('test') \
    .getOrCreate()
#./sbin/start-worker.sh to start worker while in the spark dir

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/02/27 23:45:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
import pandas as pd

In [3]:
#load Green Taxi Data

df_green = spark.read.parquet('data/pq/green/*/*')

In [4]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [5]:
#load Yellow Taxi Data

df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [6]:
#Rename pickup and dropoff times in green data

df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime','pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

#Rename pickup and dropoff times in yellow data
df_yellow = df_yellow \
.withColumnRenamed('tpep_pickup_datetime','pickup_datetime') \
.withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [7]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [8]:
df_green.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [9]:
df_yellow.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [10]:
#find the common columns between tables 
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [11]:
common_coloumns = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_coloumns.append(col)

In [12]:
common_coloumns =['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [13]:
from pyspark.sql import functions as f

In [14]:
df_green_sel = df_green.select(common_coloumns) \
    .withColumn('service_type',f.lit('green'))

In [15]:
df_yellow_sel = df_yellow.select(common_coloumns) \
    .withColumn('service_type',f.lit('yellow'))

In [16]:
df_trips_data = df_yellow_sel.unionAll(df_green_sel)

In [17]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|      yellow|39649199|
|       green| 2304517|
+------------+--------+

In [18]:
df_trips_data.registerTempTable('trips_data')

/home/Ethan/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [27]:
# Use triple quotes for multi-line strings
df_result = spark.sql( """
 SELECT
    -- Reveneue grouping 
    PULocationID as revenue_zone,
   date_trunc("month", "pickup_datetime")  as revenue_month, 

    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,

    -- Additional calculations
    AVG(passenger_count) AS avg_monthly_passenger_count,
    AVG(trip_distance) AS avg_monthly_trip_distance

    FROM trips_data
    GROUP BY 1,2,3
""")

In [28]:
df_result.show()

+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
|revenue_zone|revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|avg_monthly_passenger_count|avg_monthly_trip_distance|
+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
|         131|         null|      yellow|  121304.70000000001|    4488.400000000001|                 1831.5|                   4034.29|                     6075.39|                   1159.8000000000004|          139113.43000000002|         1.1738148984198646|       126.42215056526206|
|         206|         null|      yellow|            19267.47|                185.1|                  163.0|                    517.21|           2540.560000000001|                   100.50000000000007|          22844.690000000002|         1.1940298507462686|       15.378908554572268|
|          16|         null|      yellow|   94434.84000000008|              3051.35|                 1284.5|                    3353.9|          3562.0500000000015|                    809.3999999999965|           106645.5400000001|         1.0946822308690014|        90.13523809523812|
|         180|         null|      yellow|   51970.58999999999|              1333.54|                  683.0|                   1923.15|           2422.290000000001|                    437.3999999999994|          58902.070000000014|         1.2518939393939394|        13.87241847826087|
|         127|         null|      yellow|  169084.02000000034|    4406.400000000001|                 3374.0|                  11740.71|           6503.969999999997|                    2087.700000000017|           199022.3999999993|         1.4200842385280426|        42.93991210660618|
|         101|         null|      yellow|   82257.98999999998|              2001.85|                  897.0|                   3537.35|          3208.9200000000014|                    575.3999999999986|           92594.26000000005|         1.1656942823803966|        139.6007846153845|
|         244|         null|      yellow|  1196573.0699999959|   37910.700000000004|                32616.0|        114040.25999999997|          31507.799999999897|                     19846.1999999989|          1466954.4800000018|         1.4254463819567715|        6.270198445263424|
|          14|         null|      yellow|   275076.5100000003|              7915.65|                 3948.5|        11569.029999999999|          12673.819999999962|                   2466.9000000000337|                   314414.21|         1.1999254009697875|       105.62253456775281|
|           6|         null|      yellow|   6439.110000000001|                 47.5|                   81.0|         600.6600000000001|           904.3200000000003|                   52.800000000000004|           8160.389999999999|          1.247191011235955|       10.134204545454544|
|         209|         null|      yellow|  1102859.5099999981|    73076.06000000001|                33035.0|        169422.61999999962|          13919.339999999962|                   20057.099999998663|          1523194.6800000127|           1.51578295853105|        6.510562827612752|
|           3|         null|      yellow|   93643.77000000009|   3285.8399999999997|                 1509.0|                    4400.5|                     6811.37|                    935.0999999999981|          110780.72999999997|         1.2358003442340793|        7.879190400000002|
|          71|         null|      yellow|   249952.3600000007|    9392.890000000001|                 4232.5|                   9008.15|          12404.329999999967|                    2663.100000000037|           288302.3799999994|         1.2583444592790387|       18.755986081490633|
|         100|         null|      yellow|   7746848.139999996|    788633.8500000002|              345662.15|        1249491.7100000256|          154995.11999999982|                   208572.29999975517|        1.1643111070006737E7|         1.4301381686362231|       2.5703857179013943|
|          45|         null|      yellow|   863692.6299999986|             62411.67|                26836.0|        112032.42999999986|           9243.509999999997|                   16267.199999998784|           1173533.490000038|         1.5109232560941328|        5.590053443747268|
|         186|         null|      yellow|1.5411946419999948E7|   1507581.1400000001|              671402.42|         2730213.459999924|          212505.68999999852|                   404473.79999984044|         2.314774623001213E7|         1.4173607101589882|       2.4761340962279528|
|          88|         null|      yellow|  1909370.2400000014|            123990.25|                52843.3|          293623.210000001|           36932.10999999974|                   31995.000000003645|          2624434.2099998095|          1.486161321109408|       4.8124725443050975|
|         114|         null|      yellow|   4549954.690000005|             481187.9|               204866.0|         896434.6700000258|           22425.41999999994|                   123276.29999994661|           6976888.880000791|         1.5077862071501231|        2.670040403406166|
|         178|         null|      yellow|  26048.840000000004|                993.6|                  477.0|                    1073.2|                     1375.48|                   302.70000000000005|                    30365.17|         1.1883116883116882|         5.41206862745098|
|         221|         null|      yellow|  10576.699999999999|                 66.0|                  100.5|        466.94999999999993|          1726.7300000000005|                    63.60000000000002|          13060.479999999998|         1.2783505154639174|       15.179292452830188|
|          29|         null|      yellow|  137072.58000000013|               3704.9|                 1996.0|                   5277.18|           5377.430000000003|                   1241.7000000000062|          155083.48999999976|         1.2137014314928425|        86.76959008579601|
+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
only showing top 20 rows

In [30]:
df_result.write.parquet('data/report/revenue/')

In [31]:
spark.stop()